:root {
  --header-color: #33444e;
}

header {
  background-color: var(--header-color);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  color: white;
}
header div {
  height: 150px;
}
header div img {
  height: 100%;
}
