main {
  max-width: 960px;
  margin: 0 auto;
}

marquee {
  height: 20px;
  margin-bottom: -5px;
  background-color: lightgreen;
}

#main-container {
  max-width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

section {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #eaeaea;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px 0px;
}
#crypto-links {
  border: none;
  padding: 10px 30px;
  margin: 10px;
  margin-top: 20px;
}

#head {
  text-align: center;
  #container {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    h2 {
      margin-top: 5px;
      margin-bottom: 0px;
    }
    p {
      margin-top: 0px;
      font-size: 0.9rem;
      color: gray;
    }
    div {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

#data {
  #price {
    font-weight: bold;
  }
}

#links {
  #url-div {
    padding-bottom: 10px;
  }
  a {
    display: block;
  }
}
