main {
  max-width: 100%;
  margin: 0 auto;
}

div {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

#head {
  margin: 10px 0px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid blue;
  text-align: center;
  h2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
    font-size: 0.9rem;
    color: gray;
  }
  div {
    max-width: 64px;
    margin: 0 auto;
  }
}

#data {
  border: 1px dashed blue;
  padding-right: 10px;
  padding-left: 10px;
}

#links {
  a {
    display: block;
  }
}
