@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 1.5em;
}

main img {
  width: 70%;
  border-radius: 15px;
}
