@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
  --hf-background: #292f36;
  --text-color2: #d8e1e9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-family: 'Nunito', sans-serif;
}
/* HEADER CSS */

header {
  padding: 15px 0px 15px 0px;
  background-color: var(--hf-background);
}

header ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

header ul li {
  list-style: none;
}

header ul li a:visited,
header ul li a:link {
  background-color: var(--hf-background);
  color: var(--text-color2);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: var(--text-color2);
  color: var(--hf-background);
}

@media only screen and (max-width: 480px) {
  header ul {
    display: block;
    padding-left: 10px;
  }
  header ul li {
    margin: 25px 0px 25px 0px;
  }
}

/* FOOTER CSS */
footer {
  background-color: var(--hf-background);
  color: var(--text-color2);
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
}

footer p {
  text-align: center;
}

footer .lastupdate {
  font-size: 0.9em;
  margin-top: -8px;
}

footer a:visited,
footer a:link,
footer a:hover {
  color: var(--text-color2);
}
