$header-color: #33444e;
$dark-sienna: #280003;
$silver-metalic: #a7a2a9;
$green: #3ecaa8;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&family=Ubuntu:wght@300&display=swap');
$p-font: 'Ubuntu', sans-serif;
$h-font: 'Readex Pro', sens-serif;
