main {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

section {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid blue;
  background-color: #eaeaea;
  img {
    width: 100%;
  }
  p {
    line-height: 1.7rem;
  }
  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: black;
    background-color: $silver-metalic;
    padding: 4px 4px;
    margin-bottom: 100px;
  }
  a:hover {
    color: white;
  }
}
