@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

:root {
  --bluegray: #809bce;
  --palecerulean: #95b8d1;
  --middlebluegreen: #b8e0d2;
  --honeydew: #d6eadf;
  --queenpink: #eac4d5;
}

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--palecerulean);
}

h1 {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 100px;
}

.proximity,
.alignment,
.repetition {
  background-color: var(--middlebluegreen);
  margin: 10px 10px 10px 10px;
}

.link {
  text-align: center;
}

.text {
  text-align: center;
  margin: 0 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: var(--honeydew);
}

.proximity h2,
.proximity h3,
.alignment h2,
.alignment h3,
.repetition h2,
.repetition h3 {
  text-align: center;
}

.proximity img,
.alignment img,
.repetition img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .proximity,
  .alignment,
  .repetition {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  .proximity,
  .alignment,
  .repetition {
    width: 75%;
  }
}
